* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    height: 70px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #003600;
    font-size: 22px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #008100;
}

.full-page-bg {
    height: 100vh;
    width: 100%;
    background: url('images/landscape-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    position: relative;
}
.full-page-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(to top, white, transparent);
}
.full-page-bg h1 {
    font-size: 3.75em;
    color: #003600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    z-index: 1;
    font-family: "Pacifico", serif;
    font-weight: 400;
    margin-right: 100px;
}
.full-page-bg h1 .smaller-font {
    font-size: 2.5em;
}

/* Paragraph Section */
.description-section {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
}
.description-paragraph {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}
#paragraph-1 {
    background-color: white;
    color: #003600;
    text-align: left;
}
#paragraph-2 {
    background-color: #003600;
    color: white;
    text-align: left;
}
.paragraph-image {
    width: 50%;
    height: 80%;
    object-fit: cover;
    margin: 70px;
}
.paragraph-image:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.right-aligned-text {
    text-align: right;
}

/* Font Styles */
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 30px;
}
.larger-font {
    font-size: 2em;
}
.bold-text {
    font-weight: bold;
}
.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
}

/* Hyperlink Styles */
a {
    color: rgb(85, 200, 85);
    transition: color 0.3s;
}
a:hover {
    color: #003600;
}
#paragraph-2 a:hover {
    color: #ffffff;
}

/* Gallery Section */
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 100px;
}
figure img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 3px solid grey;
    transition: transform 0.3s, border 0.3s;
}
figure img:hover {
    transform: scale(1.05);
    border: 7px solid black;
}
figure figcaption {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 1.4;
    color: #003600;
}

/* Divider Line */
#divider-line {
    margin: 40px auto;
    width: 0;
    height: 2px;
    background: #003600;
    transition: width 03s ease;
}
#divider-line.active {
    width: 80%;
}

/* Video Section */
#video-section {
    text-align: center;
    padding: 40px;
    margin: 60px 20px;
}
.full-width-video {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/* Buttons */
button {
    display: block;
    margin: 20px auto;
    padding: 20px 40px;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #003600;
    color: white;
}
